//base components
@use '../base/index'as *;
@use '../base/index';

@mixin styleBookInfo() {
    .book_info {
        .book_container {
            border-radius: 10px;
            padding: 20px;
            background-color: $emphasisSectionColor;

            .book_data {
                @include grid(3, 7px, 5px);
                .synopsis{
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
            }

            @media (max-width:600px) {
                .book_data {
                    @include grid(2, 10px, 5px);

                    grid-template-columns: 2;
                    grid-template-rows: 4;
                    grid-template-areas:
                        "author_label author"
                        "editorial_label editorial"
                        "year_label year"
                        "synopsis synopsis"
                    ;
                }

                .author_label {
                    grid-area: author_label;
                }

                .year_label {
                    grid-area: year_label;
                }

                .editorial_label {
                    grid-area: editorial_label;
                }

                .author {
                    grid-area: author;
                }

                .year {
                    grid-area: year;
                }

                .editorial {
                    grid-area: editorial;
                }
                .synopsis{
                    grid-area: synopsis;
                }
            }

        }
    }
}
