@use "../base/variables";

@mixin button {
    .button, button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 10px;
        gap: 15px;
        background-color: variables.$mainColor;
        outline: 3px variables.$mainColor solid;
        outline-offset: -2px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: 400ms;
        text-decoration: none;
        color: white;


        .text {
            color: white;
            font-family: variables.$contentFont;
            font-size: 14px;
            font-weight: 500;
            transition: 400ms;
        }

        svg path {
            transition: 400ms;
        }

    }

    .button:hover {
        background-color: white;
        color: variables.$mainColor;

        .text {
            color: variables.$mainColor;
        }

    }

    .button:active {
        transform: scale(0.9);
    }

    .button-danger {
        background-color: #dc3545;
        outline-color: #dc3545;

        &:hover {
            color: #dc3545;
            background-color: white;
            .text {
                color: #dc3545;
            }
        }
    }

    .button-small {
        padding: 5px 10px;
        font-size: 0.85rem;
        width: auto !important;

        .text {
            font-size: 0.85rem;
        }
    }

    @media (min-width: 900px) {

        .button {
            width: 200px;

            .medium,
            .short {
                display: none;
            }

            .long {
                display: inline;
            }
        }

    }

    @media (max-width: 899px) {

        .button{
            width: max-content;

            .short,
            .long {
                display: none;
            }

            .medium {
                display: inline;
            }
        }
    }

    @media (max-width: 499px) {

        .button{
            width: max-content;

            .medium,
            .long {
                display: none;
            }

            .short {
                display: inline;
            }
        }

    }

}

@mixin disabled_button {
    .disabled_button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 10px;
        gap: 15px;
        background-color: variables.$disabled_button;
        outline: 3px variables.$disabled_button solid;
        outline-offset: -2px;
        border-radius: 10px;
        border: none;
        transition: 400ms;
        text-decoration: none;

        .text {
            color: white;
            font-family: variables.$contentFont;
            font-weight: 500;
            font-size: medium;
            transition: 400ms;
        }
    }

    @media (min-width: 900px) {

        .disabled_button {
            width:200px;

            .medium,
            .short {
                display: none;
            }

            .long {
                display: inline;
            }
        }

    }

    @media (max-width: 899px) {

        .disabled_button{
            width: max-content;

            .short,
            .long {
                display: none;
            }

            .medium {
                display: inline;
            }
        }
    }

    @media (max-width: 499px) {

        .disabled_button{
            width: max-content;

            .medium,
            .long {
                display: none;
            }

            .short {
                display: inline;
            }
        }

    }

}
