@use "../base/variables";
@use "../base/mixins";

@mixin elementBox ($align){
    .elementBox {
        box-sizing: border-box;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid variables.$otherSectionColor;
        border-radius: 8px;
        transition: 0.3s ease;
        @include mixins.elements-flex(column, space-evenly, $align);
        p{
            font-size: small;
        }

    }

    .elementBox:hover {
        transition: 0.3s ease;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
        transform: translateY(-2px);
    }

}
