@use '../base/variables';
@use '../base/global';
@use '../base/mixins';

footer {
    min-height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: variables.$footerColor;


    @media(max-width:740px) {
        @include mixins.elements-flex(column, space-evenly, center);

    }

    @media(min-width:741px) {
        @include mixins.elements-flex(row, space-evenly, center);
    }

    font-size: 14px;

    .footer-content {
        @include mixins.elements-flex(column, center, center);
        gap: 7px;


        p {
            color: white;
        }

        .bold {
            font-weight: bold;
        }
    }



    @media(max-width:740px) {
        .left{
            margin-bottom: 20px;
        }
    }

    @media(min-width:741px) {
        .left {
            text-align: left;
            align-items: flex-start;

        }

        .right {
            text-align: right;
            align-items: flex-end;
        }
    }
}
