@use "../base/variables";
@use "../base/mixins";
@use "./dropdownMenu";
@use "button";

@mixin navbar {
    header {
        width: variables.$webWidth;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        z-index: 2;
        font-family: variables.$titlesFont;
        box-shadow: 0px 0px 6.5px 0px variables.$captionColor;

        .title {
            box-sizing: border-box;
            background-color: variables.$mainColor;
            @include mixins.elements-flex(row, space-between, center);
            height: 60px;
            width: variables.$webWidth;
            padding: 0vw 10vw 0 10vw;

            .auth_info {
                @include mixins.elements-flex(row, center, center);
                @include button.button();
                @include dropdownMenu.dropdown;
                gap: 15px;
                .button{
                    background-color: white;
                    .text{
                        color: variables.$captionColor;
                    }
                }

            }
        }

        nav {
            background-color: variables.$headerColor;
            width: variables.$webWidth;
            height: 33px;
            box-sizing: border-box;

            @include mixins.elements-flex(row, center, center);

            #libraryLinks {
                width: 60vw;
                list-style: none;
                @include mixins.elements-flex(row, center, center);
                gap: 45px;
                padding-inline-start: 0;
            }

            @media (max-width:650px) {
                #libraryLinks {
                    width: 100vw;
                    gap: 15px;
                }
            }

        }
    }
}
