@use "../base/variables";
@use "../base/mixins";
@use "../components/button";
@use "../components/input";
@use "../components/multiSelect";

@mixin searchBar {

    @include button.button;
    @include input.input;
    @include multiSelect.multiSelect;

    .searchBar {
        max-width: 500px;
        background-color: variables.$emphasisSectionColor;
        border-radius: 10px;
        @include mixins.elements-flex(row, center, center);
        padding: 15px;
        margin: auto;

        .searchBar_form {
            width: 100%;
            @media(max-width: 550px) {
                @include mixins.elements-flex(column, center, center);
            }
            @media(min-width: 550px) {
                @include mixins.elements-flex(row, center, center);
            }
            gap: 8px;

            .searchBar_fields {
                @include mixins.elements-flex(column, center, center);
                width: 100%;
                .searchBar_field {
                    width: 100%;

                }
            }
            .buttons{
                @media(max-width: 550px) {
                    @include mixins.elements-flex(row, center, center);
                }
                @media(min-width: 550px) {
                    @include mixins.elements-flex(column, center, center);
                }
                .button {
                    width: 100%;
                    box-sizing: border-box;
                }
                @include mixins.elements-flex(column, center, center);
                gap: 8px;
            }
        }

    }

}
