//? base blocks (inserted manually for better handling)
@use "../base/global";
@use "../base/mixins";
@use "../base/reset";
@use "../base/variables";

@mixin table() {

    th,
    td {
        border: none;
        border-right: 1px solid variables.$emphasisSectionColor;
        border-bottom: 1px solid variables.$emphasisSectionColor;
        padding: 12px 15px;
        text-align: left;
    }

    th:last-child,
    td:last-child {
        border-right: none;
    }


    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid variables.$emphasisSectionColor;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);

        thead {
            background-color: variables.$mainColor;

            tr {
                th {
                    min-height: 8px;
                    color: variables.$headerColor;
                    font-weight: 600;
                    text-align: center;
                    font-size: 13px;
                    border-bottom: none;
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                }

                th:last-child {
                    border-right: none;
                }
            }
        }

        tbody {
            tr {
                td {
                    min-height: 8px;
                    color: variables.$textColor;
                    font-size: 13px;
                }
            }

            tr:nth-child(even) {
                background-color: variables.$emphasisSectionColor;
            }

            tr:last-child td {
                border-bottom: none;
            }
        }
    }
}
