//? blocks: pieces or compnents used to style the entire site,
//? often inserted manually because they need to be
//? applied inmediatly onto the document.

//? base blocks (inserted manually for better handling)
@use "./sass/base/global";
@use "./sass/base/mixins";
@use "./sass/base/reset";
@use "./sass/base/variables";

//? components
@use "./sass/components/index" as c;

//? partials (components but richer)
@use "./sass/partials/index" as p;



body {
    @include c.navbar;

    main {
        //here are retrieved all the partials that give style to all sorts of elements
        //sorting them via classes or IDs
        @include mixins.elements-flex(column, flex-start, center);
        // height: max-content;
        min-height: calc(100vh - 10vh - 93px);
        box-sizing: border-box;
        padding-top:20px;

        @include p.styleGrid;

        @include p.stylePaginator;
        @include p.styleBookInfo;
        @include c.alert;
        @include c.card;
        @include c.searchBar;

        .section__search {
            width: 100%;
            margin-bottom: 20px;
        }

        .admin__actions {
            @include mixins.elements-flex(row, flex-start, center);
            gap: 8px;
            margin-bottom: 20px;
        }
        .admin{
            h1{
                text-align: center;
            }
            p{
                text-align: center;
            }
            @include c.table;
        }
    }

    td.due {
        color: red;
    }

    td.ontime {
        color: green;
    }
}
