// Base rules
@use './sass/base/global';
@use './sass/base/reset';
@use './sass/base/mixins';
@use './sass/base/variables';

//partials
@use './sass/partials/button';
@use './sass/partials/elementBox';
@use './sass/partials/input';
@use './sass/partials/navbar';
@use './sass/partials/searchBar';

body{
    @include navbar.navbar;

    main{


        .grid{
            @include elementBox.elementBox(center);
            .elementBox{
                height:100%;
                text-align: center;
                @include button.button;
            }

            padding-left: 8vw;
            padding-right: 8vw;

        @media (min-width: 900px) {
            @include mixins.grid(3, 15px, 15px)
        }
        @media(max-width: 899px){
            @include mixins.grid(2,15px, 20px)
        }
        @media (max-width: 550px){
            @include mixins.grid(1, 0px, 15px)
        }
        }

    }
}
